.maintitle {
    color:darkgoldenrod;
    font-weight: bolder;
    text-align: center;
    background-color: black;
    padding: 5px;
    border: 2px solid #2055DA; 
    margin: 20px auto;
    max-width: fit-content;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color:black;
}

.link {
    color:rgb(236, 173, 13);
    font-weight: bolder;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}   

.button {
    background-color:black;
    border-color: #2055DA;
    block-size: 40px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonlist {
    list-style-type: none;
    align-self: center;
}

.h2title {
    color: goldenrod;
    text-align: center;
    padding: 5px;
    border: 2px solid #2055DA; 
    max-width: fit-content;
    margin: auto;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

.h3title{
    color: #daa520;
    text-align: center;
    background: rgb(0, 0, 0);
    padding: 5px;
    border: 2px solid #2055DA; 
    margin: 20px auto;
    max-width: fit-content;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div {
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.image {
    display: flex;
    justify-content: center;
}

