.maintitle {
    color:darkgoldenrod;
    font-weight: bolder;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color:black;
}

.link {
    color:rgb(236, 173, 13);
    font-weight: bolder;
    text-decoration: none;
}   

.button {
    background-color:black;
    border-radius: 2000px;
    border-color: goldenrod;
    block-size: 40px;
    width: 75%;
    display: inline-block;
}

.buttonlist {
    list-style-type: none;
    align-self: center;
}